body{
    margin: 0px;
}

img {
    text-decoration:none;
    max-width: 100%;
    max-height: 100%;
    
}

header{
    min-height: 15em;
    width: 100%;
    display: flex;
    flex: 5 5 auto;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    
}

#header-image,
#header-title{
    margin: auto;
    width: 25%;
    text-align: left;
    font-size: 12vw;
    font-family: 'Bilbo', cursive;
    font-style: italic;
}

#header-title{
    width: 60%;
}
 