body{
    margin: 0px;
    background-color: #E6E6FF;
}

img {
    width: 100%;
    height: 100%;
}

header{
    margin:1rem;
    padding: 1rem;
    overflow:hidden;
    background-color: #B7B9E9;
    border-radius: 10px;
}

.inline-header-container-left,
.inline-header-container-right{
    margin-left: -4px;
    width:50%;
    display:inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    text-align:center;
    vertical-align: middle;
}
.inline-header-container-left{
    justify-content: flex-start;
}
.inline-header-container-right{
    justify-content: flex-end;
    
}

#header-title{
    font-size: 5vw;
    font-family: 'Bilbo', cursive;
    font-weight: bold;
    color: #9C0B34;
    text-align: center;
    letter-spacing: 5px;
    margin-left:0.5em;
}

#header-image{
    height: 7rem;
}

.main-link{
    padding: 0.8rem;
    margin: 0.5rem;
    border-width: 2px;
    border-color: #9C0B34;
    color: #9C0B34;
    font-family: 'Roboto', sans-serif;
    border-style: solid;
    border-radius: 25px;
}

.main-link:hover{
    background-color:#AFA9D9 ;
}
