section{
    display: inline-flex;
    vertical-align: top;
    align-content: flex-start;
}

#profile-image{
    padding: 1rem;
    margin-left: 10vw;
    width:30%;
    min-height: 5rem;
}
#profile-image img{
    object-fit: contain;
}

#profile-data{
    padding: 1rem;
    font-size: 1.5rem;
}

article h2{
    margin-left: 10%;
}

#auction-container{
    width:80%;
    word-break: break-all;
    background-color: var(--background-color);
    display:flex;
    align-content: center;
    flex-wrap: wrap;
    margin:0 auto;
}

.auction-item{
    display:inline-flex;
    justify-content: center;
    align-items: stretch;
    flex-wrap: nowrap;
    background-color: var(--light-background-color);
    width:100%;
    margin: 1rem 1rem 0 1rem;
    padding: 4%;
}
.auction-item:last-child{
    margin-bottom:1rem;
}
.auction-item-image{
    width:30%;
}
.auction-item-description{
    width:62%;
    text-align: justify;
    
}

#edit-form{
    line-height: 2vw;
    padding: 0 0.5vw 0 1vw;
    text-align: right;
    background-color: var(--background-color);
}

#form-container{
    display:inline-flex;
    padding:1vw;
    background-color: var(--background-color);
    margin: 0;
}
form input{
    height: 2vw;
}