main{
    display: flex;
    justify-content: space-around;
    align-content: flex-start;
    flex-direction: row;
}

aside{
    width:30%;
}
#filter-form-container{
    padding: 2rem 1rem;
    background-color: var(--background-color);
}

section{
    width: 65%;
    background-color: var(--background-color);
}

#item{
    background-color: var(--text-color);
    margin: 1rem;
    min-height: 20vw;
}

#item #item-image{
    display: inline-block;
    width:30%;
    height:15vw;
    padding:3%;
}

#item #item-image img{
    object-fit:contain;
}

#item #item-content{
    display: inline-flex;
    width: 64%;
    margin-left: -4px;
    vertical-align: top;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

#item #item-description{
    text-align: justify;
    padding:2%;
}

#item #item-info{
    padding:2%;
    width:46%;
}

#item #add-to-cart{
    width:38%;
    padding: 2%;
    margin:4%;
    background-color: var(--background-color);
    text-align: center;
}